apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/l4-rbs: disabled
    cloud.google.com/neg: '{"exposed_ports": {"8080":{}}}'
  name: curl-nodeport
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: curl
  type: ClusterIP
